.toolteep {
    padding: 10px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    position: absolute;
    display: none;
    margin: 0;
}
.toolteep p {
    margin: 0;
}


.toolteep-after, .toolteep-before {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
}

.toolteep-after.bottom {
    border-top-color: #ffffff;
    border-width: 8px;
    margin-left: -18px;
}

.toolteep-before.bottom {
    border-top-color: #dcdcdc;
    border-width: 9px;
    margin-left: -19px;
}

.toolteep-after.top, .toolteep-before.top {
    top: auto;
    bottom: 100%;
}

.toolteep-after.top {
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -18px;
}

.toolteep-before.top {
    border-bottom-color: #dcdcdc;
    border-width: 9px;
    margin-left: -19px;
}
